.scroll{
  background: $primary;
  position: relative;
  
  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 200px;
    background-image: url('../../../images/scroll-border.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    @include transform(translateY(-100%));
  }

  &::after{
  }
}